html, body {
    font-family: "Helvetica";
    background-color: rgb(234, 232, 228);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-presentation {
    display: flex;
    justify-content: space-between;
    background-color: rgba(45, 45, 45, 1);
    height: 45%;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    box-sizing: border-box; /* Inclui a borda na largura e altura da div */
    overflow: hidden; /* Garante que conteúdo não irá transbordar para fora da div */ 
}

.header {
    display: flex;
    height: 20%;
    align-items: center;
}

.header-logo-menu-icon {
    background-color: rgba(45, 45, 45, 1);
    display: flex;
    padding: 2vh 0 2vh 4vw;
}

.header__logo-img {
    width: 6em;
}

.header-categories {
    display: flex;
}

.header-categories__category {
    color: rgba(234, 232, 228, 1);
    padding: 0 0 0 2vw;
    cursor: pointer;
}

/* Adiciona negrito ao passar mouse */
.header-categories__category:hover {
    font-weight: bold;
}

.header-categories__category::before {
    content: "";
}

/* Adiciona  • no início da categoria ao passar mouse */
.header-categories__category:hover::before {
    content: "• ";
}

.header-categories__menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    padding-left: 3vw;
    display: none;
}

.header-categories__menu-icon div {
    width: 100%;
    height: 3px;
    background-color: rgba(234, 232, 228, 1);
    cursor: pointer;
}

.header-categories__back-img {
    display: none;
    width: 3.5em;
    margin: 0 auto;
    padding-top: 5vh;
    cursor: pointer;
}

.header-info {
    color: rgba(234, 232, 228, 1);
    padding-left: 4vw;
    width: 100%;
}

.header-info__title {
    font-size: 1.8em;
    font-weight: bold;
}

.header-info__description {
    color: rgba(234, 232, 228, 1);
    font-size: 1.1em;
}

.header-info__scroll-img {
    display: block;
    width: 2.8em;
    margin: 2vh auto;
    padding-top: 5vh;
}

.container-presentation__logos-img {
    max-width: 30%;
}

.product-container {
    padding: 2vh 4vw;
}

.container__title {
    font-size: 2em;
    font-weight: bold;
}

.container__description {
    font-size: 1.1em;
}

.product-cards {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    padding: 0;
    width: 100%;
}

.product-card {
    flex: 1;
    margin: 0;
    box-sizing: border-box;
    background-color: #FCFCFD;
    border-radius: 8px;
    padding: 1%;
}

.product-card__image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card__title {
    font-size: 1.2em;
    font-weight: bold;
}

.product-card__description {
    font-size: 1em;
}

.container-gallery {
    padding: 2vh 4vw;
    display: grid;
    grid-template-areas: 
    "title-description img2"
    "img1 img2"
    "img1 img3"
    "img1 img3";
    gap: 1vw;
    height: 100vh;
    box-sizing: border-box;
    grid-template-rows: 1fr 1fr 1fr 1fr; /* Altura das linhas do grid: importante para ajuste da altura das imagens */
}

.gallery-title-description {
    grid-area: title-description;
}

.container-gallery img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.16)
}

.container-gallery__img1 {
    grid-area: img1;
}

.container-gallery__img2 {
    grid-area: img2;
}

.container-gallery__img3 {
    grid-area: img3;
}

.app-section {
    display: grid;
    grid-template-areas: 
    "title title app-store-img"
    "description description play-store-img";
    column-gap: 1.5vw;
    row-gap: 0.5vh;
    margin: 2vh 4vw;
    padding: 3vh 3vw;
    background-color: rgba(60, 12, 96, 1);
    border-radius: 16px;
}

.app-section p {
    margin: 0;
    padding: 0;
}

.app-section .container__title {
    grid-area: title;
    color: rgba(234, 232, 228, 1);
}

.app-section .container__description {
    grid-area: description;
    color: rgba(234, 232, 228, 1);
}

.app-section__app-store-img {
    grid-area: app-store-img;
}

.app-section__play-store-img {
    grid-area: play-store-img;
}

.app-section img {
    width: 10em;
   margin-left: auto;
}

@media screen and (max-width: 768px) {
    /* Oculta o menu de categorias horizontal */ 
    .header-categories {
        display: none;
    }

    /* Mostra o ícone de menu */
    .header-categories__menu-icon {
        display: flex;
    }

    /* Ajusta altura do container de apresentação (container mais externo) */
    .container-presentation {
        height: 70%;
    }

    /* Ajusta largura do container com header e informações (título e descrição) do container de apresentação */
    .container-content {
        width: 100%;
    }

    /* Ajusta largura máxima da imagem com os logos da monks */
    .container-presentation__logos-img {
        max-width: 35%;
    }

    /* Mostra cards de produtos verticalmente e ajusta margem e padding do container */
    .product-cards {
        display: block;
    }

    .product-card {
        padding: 2%;
        margin: 2vh 0;
    }

    /* Mostra galeria verticalmente e ajusta margens superior e inferior do container */
    .container-gallery {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .container-gallery img {
        margin: 2vh 0;
    }

    /* Mostra seção do app va vertical */
    .app-section {
        display: flex;
        flex-direction: column;
    }

    /* Altera ordem do grid (para mostrar primeiro as informações textuais e depois as imagens das lojas de aplicativos */
    .app-section__title {
        order: 1;
    }

    .app-section__description {
        order: 2;
    }

    .app-section__app-store-img {
        order: 3;
    }

    .app-section__play-store-img {
        order: 4;
    }

    /* Ajusta largura e margem das imagens das lojas de aplicativos */
    .app-section img {
        width: 100%;
        margin: 1vh 0;
    }
}